<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.sqlconnection.DepartmentDAO">
    <select id="findById" parameterType="int" resultType="org.example.sqlconnection.Department">
        SELECT * FROM Department WHERE department_id = #{id}
    </select>
</mapper>
